
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Liên hệ</title>
</head>
<div class="contact-area d-flex align-items-center">
    <div class="google-map float-left">
        <img src="https://scontent.fhph1-3.fna.fbcdn.net/v/t39.30808-6/335097282_154393734154043_5119687033500834523_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_ohc=pddg_GDgvewAX9k9smP&_nc_ht=scontent.fhph1-3.fna&oh=00_AfA3bjtT6UoA-0il_lGkl5txLo8DnBqteMLH-rWKlT5sZA&oe=6473B5F5"/>
    </div>

    <div class="contact-info">
        <h2>VỀ TÔI</h2>
        <p>Đinh Tuấn Anh</p>
        <p>CNTT 15-01</p>
        <p>Bài tập lớn TTCNTT 4 : Xây dựng cửa hàng bán sách cũ</p>

        <div class="contact-address mt-50">
            <p><span>facebook:</span> fb.com/tuananh242</p>
            <p><span>instagram:</span> instagram.com/tuun.ahh_</p>
        </div>
    </div>

</div>