
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

@model Sach.Model.Models.PublicationStatus
<script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>

<form asp-action="Create" asp-controller="PublicationStatus" method="post" class="row g-3">
    <div class="col-md-2">
        <label asp-for="Id" class="form-label">ID</label>
        <input class="form-control" asp-for="Id">
    </div>
    <div class="col-md-8">
        <label asp-for="Name" class="form-label">Ngày phục chế</label>
        <input class="form-control" asp-for="Name">
    </div>
    <div class="col-6">
        <label asp-for="Description" class="form-label">Mô tả</label>
        <textarea name="editor1" class="form-control" asp-for="Description"></textarea>
        <script>
            CKEDITOR.replace('editor1');
        </script>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary" href="/Administrator/Customer/Index">Submit</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </div>
</form>
