
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

@model Sach.Model.Models.BookRestoration

<script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>
<form asp-action="Edit" asp-controller="BookRestoration" method="post" class="row g-3">
    <div class="col-md-2">
        <label asp-for="Id" class="form-label">ID</label>
        <input class="form-control" asp-for="Id" value="@Model.Id">
    </div>
    <div class="col-md-8">
        <label asp-for="RestorationDate" class="form-label">Ngày phục chế</label>
        <input type="datetime-local" class="form-control" asp-for="RestorationDate" value="@Model.RestorationDate">
    </div>
    <div class="col-6">
        <label asp-for="RestoredBy" class="form-label">Người phục chế</label>
        <input class="form-control" asp-for="RestoredBy" value="@Model.RestoredBy">
    </div>
    <div class="col-md-12">
        <label asp-for="Notes" class="form-label">Ghi chú</label>
        <textarea name="editor1" class="form-control" asp-for="Notes" value="@Model.Notes"></textarea>
        <script>
           CKEDITOR.replace('editor1');
        </script>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary" href="/Administrator/BookRestoration/Index">Submit</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </div>
</form>
