@model List<Sach.Model.Models.BookRestoration>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div class="pagetitle">
    <h1>Bảng điều khiển</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Administrator" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active">Book Restoration</li>
        </ol>
    </nav>
</div>

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Lưu trữ thông tin về việc phục chế sách</h5>
            <a href="/Administrator/BookRestoration/Create" class="btn btn-primary mb-2">Thêm mới</a>
            <table class="table table-bordered border-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Ngày phục chế</th>
                        <th scope="col">Người phục chế</th>
                        <th scope="col">Ghi chú</th>
                        <th scope="col">Chỉnh sửa</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td scope="row">@item.Id</td>
                            <td>@item.RestorationDate</td>
                            <td>@item.RestoredBy</td>
                            <td>@item.Notes</td>
                            
                            <td>
                                <a href="/Administrator/BookRestoration/Edit/@item.Id" class="ri-edit-box-fill"></a>
                                <a href="/Administrator/BookRestoration/Delete/@item.Id" class="ri-delete-bin-2-fill"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>